<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.snowmeow.zkoj.base.dao.UmsUserMapper">

    <update id="updateBaseInfo">
        update ums_user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="email != null">email = #{email},</if>
            <if test="description != null">introduce = #{introduce}</if>
        </set>
        where id = #{userId}
        limit 1
    </update>

    <update id="updatePassword">
        update ums_user set password = #{password} where id = #{userId} limit 1
    </update>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into ums_user
        <set>
            username = #{username},
            password = #{password},
            name = #{name},
            status = 1,
            create_ip = #{createIp},
            last_ip = #{lastIp},
            <if test="faceUrl != null">face_url = #{faceUrl},</if>
            <if test="email != null">email = #{email},</if>
            <if test="introduce != null">introduce = #{introduce}</if>
        </set>
    </insert>

</mapper>